<tal:block metal:use-macro="_layout.html/glowny">

    <tal:block metal:fill-slot="content">
        <div id="page_2">
            <h1>Zastanawiasz się, czy warto?</h1>
            <div class="accordion">
                <h3 class="caption">&nbsp;Korzyści
                    <div class="raquo"></div>
                </h3>
                <div class="content">
                    <ul>
                        <li>Co miesiąc rozdajemy bezpłatne vouchery na noclegi do wykorzystania w sieci hoteli Focus.</li>
                        <li>Sprawdzisz sam jak komfortowe i nowoczesne są nasze pokoje oraz poznasz naszą miłą obsługę!</li>
                        <li>Masz szansę zostać Ambasadorem Marki Focus Hotels i korzystać z dodatkowych profitów w dłuższej perspektywie czasu!</li>
                        <li>Opiniując, wypowiadasz się szczerze. Zależy nam na obiektywnych ocenach.</li>
                    </ul>
                </div>


                <h3 class="caption">&nbsp;Kto może wziąć udział w akcji?
                    <div class="raquo"></div>
                </h3>
                <div class="content ahidden">
                    <ul>
                        <li>Ci, którzy podróżują i korzystają z bazy noclegowej często</li>
                        <li>A także wszyscy, którzy lubią podróżować</li>
                        <li>Mieszkańcy dużych miast i małych miejscowości.</li>
                        <li>Osoby pełnoletnie - studenci, osoby pracujące lub już odpoczywające, – wszyscy, którzy z chęcią odwiedzą jeden z naszych hoteli za darmo.</li>
                    </ul>
                </div>


                <h3 class="caption">&nbsp;Czy jesteś odpowiednim kandydatem na Ambasadora?
                    <div class="raquo"></div>
                </h3>
                <div class="content ahidden">
                    <ul>
                        <li>Podróżujesz dużo w celach służbowych, bądź turystycznych?</li>
                        <li>Jesteś zainteresowany sprawdzeniem jednego z hoteli Focus?</li>
                        <li>Chcesz wyrobić sobie opinię na temat sieci hoteli Focus?</li>
                        <li>Chętnie wypowiadasz swoje opinie?</li>
                        <li>Lubisz dyskutować, jesteś otwarty, kontaktowy i lubisz doradzać znajomym?</li>
                    </ul>
                </div>



                <div class="cta">
                    <h3><a href="/${subpath}go"><b>Jeśli tak</b> – jesteś osobą, której szukamy! 
                            <img style="vertical-align: middle" src="images/raquo.png" />
                        </a>
                    </h3>
                </div>

            </div>
        </div>
    </tal:block>


</tal:block>
