<tal:block metal:use-macro="_layout.html/glowny">

    <tal:block metal:fill-slot="content">
        <div id="page_4">
            <h1>Dziękujemy za Twój poświęcony<br/>czas i zgłoszenie!</h1>
            <p class="outro">
                Do wybranych osób odezwiemy się wkrótce!
            </p>
            <div class="bottom">
                <a class="btn btn-default" href="/${subpath}back"><i class="fa fa-arrow-left"></i>&nbsp;powróć</a>
            </div>
        </div>
    </tal:block>


</tal:block>
